.pc-two {
  color: #FFFFFF;
  font-family: avenir next condensed;
  font-weight: bold;
  text-transform: uppercase;

  h2 {
    font-size: 62px;
    margin: 175px 0 0 9%;
    position: absolute;
    text-shadow: 0px 25px 250px rgba(0, 0, 0, 0.3);
    z-index: $z-index;
  }

  button {
    background-color: #000000;
    border: 0;
    color: #FFFFFF;
    font-family: avenir next condensed;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 8px 20px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
  }

  .patterns-mens {
    margin-left: 9%;
    margin-top: 380px;
  }

  .patterns-womens {
    margin-left: 22%;
    margin-top: 380px;
  }

  img {
    margin-top: -5px;
    position: relative;
  }
}

@include media-query($medium-down) {
  .pc-two {
    h2 {
      font-size: 35px;
      margin-top: 75px;
    }

    .patterns-mens {
      margin-top: 185px;
    }

    .patterns-womens {
      margin-left: 40%;
      margin-top: 185px;
    }
  }
}

@include media-query($small) {
  .pc-two {
    h2 {
      font-size: 24px;
      margin-top: 25px;
    }

    .patterns-mens {
      margin-top: 85px;
      width: 40%;
    }

    .patterns-womens {
      margin-left: 53%;
      margin-top: 85px;
      width: 40%;
    }
  }
}
