/*================ Site Header ================*/
.header {
  background-color: #101010;

  .site-logo {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -25px;
    font-size: 75px;

    img {
      display: block;
      width: 100%;
    }
  }

  .menu-closed:hover {
    cursor: pointer;
  }
}
