<div class="shop-styles">
  <span class="text-shadow">Sale</span>
  <h2 class="text-shadow">{{ section.settings.styles-text }}</h2>
  <button type="button" name="Shop Styles">Shop Styles</button>
  <img src='{{ '../assets/shop-styles.jpg' | asset_url }}>' />
</div>

{% schema %}
  {
    "name": "Styles",
    "settings": [
      {
        "type": "text",
        "id": "styles-text",
        "label": "Heading",
        "default": "Styles For<br>Everyone"
      },
      {
        "type": "text",
        "id": "styles-btn-text",
        "label": "Shop Styles",
        "default": "Shop Styles"
      }
    ]
  }
{% endschema %}
